<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="h3">
      <i class="glyphicon glyphicon-gift"></i> Birthdays
    </h2>
  </div>
  <div class="panel-body">
    No upcoming birthdays...
  </div>
</div>
