<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="h3">
      <i class="glyphicon glyphicon-tent"></i> Events
    </h2>
  </div>
  <div class="panel-body">
    No upcoming events...
  </div>
</div>
