<% provide(:title, "About") %>

<h1>About Us</h1>
<p>
  <em>Circlus</em> is managing groups, members and events organized by groups.
</p>

</br>

<h3>The Team</h3>

<dl>
  <dt>Website Design</dt>
  <dd>Amanda</dd>
</dl>

<dl>
  <dt>Entwicklung</dt>
  <dd>Amanda</dd>
  <dd>Pierre</dd>
</dl>

<dl>
  <dt>Test</dt>
  <dd>Amanda</dd>
</dl>

