<% provide(:title, 'Home') %>

<div class="jumbotron">
  <h1>Welcome to Circlus</h1>
  <p>Manage Organizations, Groups, Members and Events</p>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'members' %>
  </div>
  <div class="col-md-3">
    <%= render 'birthdays' %>
  </div>
  <div class="col-md-3">
    <%= render 'events' %>
  </div>
</div>
