<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#collapsable-footer"
      aria-expanded="false">
      <span class="sr-only">Toggle footer navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsable-footer">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://github.com/sugaryourcoffee/circlus", target="_blank">
            Circlus <%= "0.0.1" %> by Sugar Your Coffee
          </a> 
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Terms of Use', "#" %></li>
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'Contact', "#" %></li>
      </ul>
    </div>
  </div>
</footer>
