<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= g.select(:category, options_for_select(Email::CATEGORIES,
                                                 g.object.category)) %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="form-group">
      <%= g.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-2 text-right">
    <%= g.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: "remove_fields btn btn-warning" %>
   </div>
</div>
